.header {
  background-color: rgb(76, 72, 255);
  padding-top: 20px;
  padding-bottom: 20px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    color: white;
    font-weight: 900; // Black
    font-size: 20px; // Не по макету, а PixelPerfect
    transition: color 0.5s;

    &:hover {
      color: rgb(201, 200, 255);
    }
  }

  &__menu {
  }

  &__lk {
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover span {
      color: rgb(201, 200, 255);
    }

    &:hover svg path {
      fill: rgb(201, 200, 255);
    }

    svg path {
      transition: fill 0.5s;
    }

    span {
      font-size: 16px;
      color: white;
      text-transform: uppercase;
      transition: color 0.5s;
    }
  }
}
.menu {

  &__list {
    list-style-type: none;
    display: flex;
    gap: 40px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;

    &:has(.sub-menu) {
      &::after {
        display: block;
        content: url('../images/icons/arrow-sub-menu.svg');
        margin-top: -5px;
        margin-left: 10px;
      }
    }

    &:hover > a {
      color: rgb(201, 200, 255);
    }

    &:hover .sub-menu {
      visibility: visible;
      max-height: 300px;
    }

    &::before { // Полосочка под ссылкой
      position: absolute;
      bottom: -8px;
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: rgb(201, 200, 255);
      transition: .3s;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__link {
    color: white;
    text-transform: uppercase;

    transition: all 0.4s;
  }
}

.sub-menu {
  position: absolute;
  top: 26px;
  border-radius: 2px;
  overflow: hidden;
  width: 292px;

  transition: all 0.5s;
  max-height: 0;


  &__list {
  }

  &__item {
    border-bottom: 1px solid rgb(201, 200, 255);

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
      background-color: white;
      padding: 10px 20px;
      color: black;
      transition: background-color 0.4s;

      &:hover {
        background-color: rgb(201, 200, 255);
      }
    }
  }
}
