@mixin input-placeholder {
  font-family: "Raleway", sans-serif;
  color: rgb(148, 148, 148);
  font-weight: 400;
}

.header {
  background-color: rgb(76, 72, 255);
  padding-top: 20px;
  padding-bottom: 20px;

  // &._scroll-anim {
  //   transition: all 0.8s ease 0s;
  //   transform: translate(0, -50%);
  //   opacity: 0;

  //   &-active {
  //     transform: translate(0, 0);
  //     opacity: 1;
  //   }
  // }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    color: white;
    font-weight: 900; // Black
    font-size: 20px; // Не по макету, а PixelPerfect
    transition: color 0.5s;

    position: relative;
    z-index: 20;

    &:hover {
      color: rgb(201, 200, 255);
    }
  }

  &__menu {
  }

  &__lk {
    display: flex;
    align-items: center;
    gap: 10px;

    position: relative;
    z-index: 20;

    @media (max-width: 768px) {
      margin-right: 45px;
    }

    &:hover span {
      color: rgb(201, 200, 255);
    }

    &:hover svg path {
      fill: rgb(201, 200, 255);
    }

    svg path {
      transition: fill 0.5s;
    }

    span {
      font-size: 16px;
      color: white;
      text-transform: uppercase;
      transition: color 0.5s;

      @media (max-width: 950px) {
        display: none;
      }
    }
  }
}
.menu {

  @media (max-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;

    background-color: rgb(76, 72, 255);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

    &.phone-open {
      height: 100%;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    gap: 40px;

    @media (max-width: 768px) {
      padding-top: 90px;
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  }

  &__item {
    position: relative;

    @media (max-width: 768px) {
      min-height: 40px;
    }

    // &:has(.sub-menu) {
    //   &::after {
    //     display: block;
    //     content: url('../images/icons/arrow-sub-menu.svg');
    //     margin-top: -5px;
    //     margin-left: 10px;
    //   }
    // }


    &:hover > a {
      color: rgb(201, 200, 255);

      @media (max-width: 768px) {
        color: white;
      }
    }

    &:hover .sub-menu {
      visibility: visible;
      max-height: 300px;
    }

    &::before { // Полосочка под ссылкой
      position: absolute;
      bottom: -8px;
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: rgb(201, 200, 255);
      transition: .3s;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: 768px) {
        display: none;
      }
    }

    &:hover::before {
      width: 100%;
    }

    &:hover .menu__arrow {
      path {
        stroke: rgb(201, 200, 255);

        @media (max-width: 768px) {
          stroke: white;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;

    color: white;
    text-transform: uppercase;

    transition: all 0.4s;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__arrow {
    display: block;
    margin-left: 10px;

    path {
      transition: stroke 0.4s;
    }
  }
}

.menu-bottom-phone {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }

  &__header {
    text-align: center;
    margin-bottom: 15px;
  }

  &__list {
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    gap: 10px;

    &:last-child {
      margin-bottom: 30px;
    }

    img {
      width: 20px;
    }

    a {
      color: white;
    }
  }
}

.sub-menu {
  position: absolute;
  top: 24px;
  border-radius: 2px;
  overflow: hidden;
  width: 292px;

  transition: all 0.5s;
  max-height: 0;
  z-index: 5;

  @media (max-width: 768px) {
    position: static;
    margin: 15px 0;
    width: unset;
  }

  &__list {
  }

  &__item {
    border-bottom: 1px solid rgb(201, 200, 255);

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
      background-color: white;
      padding: 10px 20px;
      color: black;
      transition: background-color 0.4s;

      &:hover {
        background-color: rgb(201, 200, 255);
      }
    }

    @media (max-width: 768px) {
      text-align: center;
      border-bottom: 0;

      a { 
        background-color: transparent;
        color: rgb(148,145,255);
        text-transform: uppercase;
      }

    }
  }
}

/* ******************************* */

.main {
  padding: 50px 15px;
  background-color: rgba(251, 251, 251);
  background-image: url('../images/background.png');

  @media (max-width: 820px) {
    padding-top: 40px;
  }

  @media (max-width: 500px) {
    padding-left: 7px;
    padding-right: 7px;
  }

  &__container {
    max-width: 940px;
    border-radius: 2px;
    overflow: hidden;
    border: 3px solid rgb(76, 72, 255);
    box-sizing: border-box;
    margin: 0 auto;
  }

  &__header {
    background-color: rgb(76, 72, 255);
    text-align: center;
    font-size: 32px;
    padding: 20px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 38px;

    &._scroll-anim {
      transition: all 0.8s ease 0s;
      transform: translate(0, -50%);
      opacity: 0;
  
      &-active {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    @media (max-width: 640px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__section {
    padding: 20px 30px 10px 30px;
    background-color: white;

    @media (max-width: 820px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &._scroll-anim {
      transition: all 0.8s ease 0s;
      transform: translate(0, 50%);
      opacity: 0;

      &-active {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    h2 {
      color: rgba(76, 72, 255, 1);
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 15px;
    }

    &.number1 {
      .main__fields {
        @media (max-width: 720px) {
          flex-wrap: wrap;

          .field {
            flex: unset;
            flex-grow: 1;
          }
        }
      }
    }

    &.number2 {
      .main__fields {
        @media (max-width: 870px) {
          flex-wrap: wrap;

          .field {
            flex: unset;
            flex-grow: 1;
          }
        }
      }
    }

    &.number3 {
      .main__fields {
        @media (max-width: 880px) {
          flex-wrap: wrap;

          .field {
            flex: unset;
            flex-grow: 1;
          }
        }
      }
    }

    &.number4 {
      .main__fields {
        @media (max-width: 950px) {
          flex-wrap: wrap;

          .field {
            flex: unset;
            flex-grow: 1;
          }
        }

        @media (max-width: 395px) {
          input {
            font-size: 16px;
          }
        }
      }
    }
    
    &.number5 {
      .main__fields {
        @media (max-width: 830px) {
          flex-wrap: wrap;

          .field {
            flex: unset;
            flex-grow: 1;
          }
        }
      }
    }
    
    &.number6 {
      .main__fields {
        @media (max-width: 860px) {
          flex-wrap: wrap;

          .field {
            flex: unset;
            flex-grow: 1;
          }
        }
      }
    }
    
    &.number7 {
      .main__fields {
        @media (max-width: 740px) {
          flex-wrap: wrap;

          .radio-button {
            flex: unset;
            flex-grow: 1;
          }
        }
      }
    }
    
    &.number8 {
      .main__fields {
        @media (max-width: 920px) {
          flex-wrap: wrap;

          .radio-button {
            flex: unset;
            flex-grow: 1;
          }
        }
      }
    }
    
    &.number9, &.number10 {
      .main__fields {
        @media (max-width: 380px) {
          flex-wrap: wrap;

          .radio-button {
            flex: unset;
            flex-grow: 1;
          }
        }
      }
    }

    &.number11 {
      .main__fields {
        @media (max-width: 820px) {
          flex-wrap: wrap;

          .radio-button {
            flex: unset;
            flex-grow: 1;
          }
        }
      }
    }
  }

  &__fields {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &.mb20 {
      margin-bottom: 20px;
    }
  }

  &__many-fields {
    margin-top: 20px;

    max-height: 300px;
    transition: max-height 0.5s;
    overflow: hidden;
  
    &.hidden {
      max-height: 0;
    }
  }

  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    width: 100%;
    height: 54px;
    margin-bottom: 10px;
    
    color: white;
    background-color: rgb(255, 90, 120);

    font-size: 18px;
    font-weight: 500;
    
    transition: background-color 0.4s;

    &:hover {
      background-color: rgb(255, 64, 98);
    }

    &:active {
      background-color: rgba(214, 72, 98, 1);
    }
  }
}

.field {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  border-radius: 2px;
  flex: 1 0 0;

  flex-grow: 1;

  max-height: 100px;
  transition: max-height 0.5s;
  overflow: hidden;

  &.hidden {
    max-height: 0;
  }

  &.off {
    display: none;
  }

  &.select {
    overflow: visible;
  }

  &__prompt {
    position: absolute;
    top: 1px;
    right: 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(189, 218, 254);
    height: calc(100% - 2px);

    padding: 0 10px;

    z-index: 0;

    & + input {
      padding-right: 40px !important;
    }
  }

  &.correctly {
    label {
      background-color: rgb(43, 159, 82);
    }

    input {
      border: 1px solid rgb(43, 159, 82);
      color: rgb(43, 159, 82);

      &:hover {
        border: 1px solid rgb(43, 159, 82);
      }

      &:hover + label {
        background-color: rgb(43, 159, 82);
      }
    }
  }

  &.wrong {
    label {
      background-color: rgb(251, 78, 78);
    }

    input {
      border: 1px solid rgb(251, 78, 78);
      color: rgb(251, 78, 78);

      &:hover {
        border: 1px solid rgb(251, 78, 78);
      }

      &:hover + label {
        background-color: rgb(251, 78, 78);
      }
    }
  }

  &.correctly, &.wrong {
    input {
      &:focus {
        border: 1px solid rgb(76, 72, 255);
      }

      &:focus + label {
        background-color: rgb(76, 72, 255);
      }
    }
  }

  label {
    display: block;
    min-height: 50px;
    padding: 14.5px 30px;
    box-sizing: border-box;

    background-color: rgb(36, 132, 251);
    white-space: nowrap;

    @media (max-width: 550px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  input {
    font-size: 18px;
    padding: 0 10px;
    // flex-grow: 1;
    border: 1px solid rgb(36, 132, 251);
    box-sizing: border-box;
    width: 100%;

    @media (max-width: 500px) {
      padding-right: 0;
    }

    &:focus, &:hover {
      outline: none;
      border: 1px solid rgb(76, 72, 255);
    }

    &:focus {
      color: black;
    }

    &:focus + label, &:hover + label {
      background-color: rgb(76, 72, 255);
    }

    &::placeholder {
      @include input-placeholder();
    }
  }

  .choices {
    width: 100%;
    margin-bottom: 0;

    &.is-focused .choices__inner,
    &.is-open .choices__inner {
      border: 1px solid rgb(76, 72, 255);
    }

    &.is-focused + label,
    &.is-open + label {
      background-color: rgb(76, 72, 255);
    }

    &__inner {
      display: flex;
      align-items: center;

      background-color: white;
      font-size: 18px;
      box-sizing: border-box;
      min-height: 50px;
      height: 100%;
      border: 1px solid rgb(36, 132, 251);
      border-radius: 0;

      .choices__placeholder {
        @include input-placeholder;
      }
    }

    &__placeholder {
      opacity: 1;
    }

    &__list--dropdown {
      box-sizing: border-box;

      .choices__placeholder {
        display: none;
      }

      .choices__item {
        border-bottom: 1px solid rgba(201, 200, 255, 1);
        border-right: 0;
        border-left: 0;

        &:last-child {
          border-bottom: 0;
        }
      }

      &.is-active {
        height: 119px;
        overflow-y: auto;

        // Scroll
        &::-webkit-scrollbar {
          width: 10px;
          background: white;
        }
        &::-webkit-scrollbar-thumb {
          background: rgba(36, 132, 251, 1);
          // -webkit-border-radius: 4px;
          // -webkit-width: 5px;
          // border: 3px solid white;
        }
      }
    }

    &__item {
      color: black;
      opacity: 1;
      font-size: 18px !important;
    }

    &__list--dropdown .choices__item--selectable, 
    &__list[aria-expanded] .choices__item--selectable {
      padding-right: 10px;
    }
  }

  .choices[data-type*=select-one]:after {
    height: 8px;
    width: 8px;
    z-index: 3;
    top: 40%;
    border: 1px solid rgb(148, 148, 148);
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg);
  }

  .choices[data-type*=select-one].is-open:after {
    top: 60%;
    border: 1px solid rgb(148, 148, 148);
    border-width: 1px 1px 0 0;
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted, 
  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: rgb(201, 200, 255);
  }
}

.many-field {

  &__header {
    background-color: rgb(36, 132, 251);
    padding: 14.5px 30px;
    text-align: center;
    min-height: 50px;
    box-sizing: border-box;
  }

  &__row {
    display: flex;

    &:not(.many-field__row_one){
      @media (max-width: 870px) {
        flex-wrap: wrap;

        input {
          flex: 0 0 50%;
          border-top: 0;
          padding-left: 7px;
          padding-right: 3px;
          font-size: 16px;
          
          &:nth-child(odd){
            border-right: 0;
          }
        }
      }
    }

    input {
      font-size: 18px;
      padding: 0 10px;
      border: 1px solid rgb(36, 132, 251);
      box-sizing: border-box;
      width: 100%;
      min-height: 50px;
      text-align: center;

      &:focus, &:hover {
        outline: none;
        border: 1px solid rgb(76, 72, 255);
      }

      &::placeholder {
        @include input-placeholder();
      }
    }

    &_one input {
      border-top: none;

      &:focus, &:hover {
        margin-top: -1px;
        min-height: 51px;
      }
    }
  }

  
}

.radio-button {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 0 0;

  border: 1px solid rgb(36, 132, 251);
  box-sizing: border-box;
  border-radius: 2px;
  
  height: 50px;

  &:has(input:checked) {
    border: 1px solid rgba(76, 72, 255, 1);
  }

  input {
    display: none;

    &:checked + .radio-button__label::after {
      transform: scale(1);
    }

    &:checked + .radio-button__label {
      color: black
    }
  }

  label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(148, 148, 148);
    width: 100%;
    height: 100%;
    padding: 0 30px;
    box-sizing: border-box;

    cursor: pointer;

    &::before, &::after {
      display: block;
      content: "";
      width: 24px;
      height: 24px;
      border-radius: 2px;
      box-sizing: border-box;
    }
  
    &::before {
      border: 1px solid rgb(36, 132, 251);
      cursor: pointer;
    }
  
    &::after {
      transform: scale(0);
      display: block;
      position: absolute;
      top: 12px;
      left: 30px;
      border: 6px solid rgb(76, 72, 255);
      transition: transform 0.3s;
    }
  }
}

/* ******************************* */

.footer {
  background-color: #3B3B3B;
  padding-top: 20px;
  padding-bottom: 20px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 640px) {
      flex-direction: column;
    }
  }

  &__logo {
    color: white;
    font-size: 20px;
    font-weight: 900;
    
    transition: color 0.4s;

    &:hover {
      color: rgb(36, 132, 251);
    }

    @media (max-width: 640px) {
      margin-bottom: 15px;
    }
  }

  &__contacts {
    @media (max-width: 640px) {
      margin-bottom: 15px;
    }
  }

  &__links {
    list-style-type: none;

    li {
      margin-bottom: 10px;
      text-align: right;

      @media (max-width: 640px) {
        text-align: center;
      }
  
      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: white;
        font-size: 16px;
        transition: color 0.4s;
    
        &:hover {
          color: rgb(36, 132, 251);
        }
      }
    }
  }
}

.footer-c {

  &__header {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 20px;
      margin-right: 10px;
    }

    a {
      color: white;
      font-size: 16px;
      transition: color 0.4s;

      &:hover {
        color: rgb(36, 132, 251);
      }
    }
  }
}

/* ******************************* */

.popup {

  &__body {
  }

  &__content {
    padding-right: 60px;
    padding-left: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.popup-download {

  &__body {
    padding: 30px 80px;

    @media (max-width: 1040px) {
      padding: 80px;
      padding-bottom: 30px;
    }

    @media (max-width: 550px) {
      padding-left: 8px;
      padding-right: 8px;
    }

    @media (max-width: 450px) {
      padding-top: 115px;
    }
  }

  &__content {
    position: relative;
    max-width: 1000px;

    @media (max-width: 768px) {
      padding: 20px;
    }

    @media (max-width: 550px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .popup-close {
      position: absolute;
      top: 20px;
      right: 20px;

      width: 24px;
      height: 24px;

      cursor: pointer;

      @media (max-width: 450px) {
        top: -72px;
        right: 50%;
        transform: translateX(50%);
        width: 66px;
        height: 66px;
      }

      &::before, &::after {
        position: absolute;
        top: 10px;
        left: -2px;

        display: block;
        content: "";
        height: 2px;
        width: 30px;
        background-color: #b8b8b8;

        @media (max-width: 450px) {
          width: 66px;
          height: 4px;
        }
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }

  &__img {
    position: absolute;
    top: -120px;
    left: -139px;
    width: 315px;

    @media (max-width: 1040px) {
      width: 240px;
      left: -110px;

    }

    @media (max-width: 768px) {
      width: 170px;
      left: -80px;
      top: -87px;
    }

    @media (max-width: 550px) {
      width: 120px;
      left: -32px;
      top: -52px;
      transform: rotate(-10deg);
    }

    @media (max-width: 374px) {
      left: -45px;
    }
  }

  &__img-block {
    position: absolute;
    top: -64px;
    right: -72px;
    width: 170px;
    transform: scaleX(-1);

    @media (max-width: 768px) {
      top: -40px;
      right: -45px;
      width: 150px;
    }

    @media (max-width: 374px) {
      width: 120px;
      right: -34px;
    }
  }

  &__header {
    color: rgb(76, 72, 255);
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    max-width: 670px;
    text-transform: uppercase;
    margin-left: 65px;
    line-height: 40px;
    

    @media (max-width: 1040px) {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 28px;
      padding: 0 25px;
    }

    @media (max-width: 550px) {
      padding: 0 35px;
    }

    @media (max-width: 374px) {
      font-size: 20px;
      padding: 0 30px;
    }
  }

  &__block {
    position: relative;
    display: flex;
    margin-top: 18px;

    @media (max-width: 1040px) {
      flex-direction: column-reverse;
      align-items: center;
      margin-top: 50px;
    }

    @media (max-width: 768px) {
      margin-top: 24px;
    }

    @media (max-width: 576px) {
      margin-top: 14px;
    }
  }

  &__left {
    padding-top: 60px;
    max-width: 360px;
    margin-right: 50px;

    @media (max-width: 1040px) {
      padding-top: 25px;
    }

    @media (max-width: 450px) {
      margin-right: 0;
      padding-top: 15px;
    }

    ul {
      list-style: none;

      li {
        display: flex;
        align-items: start;
        color: black;
        gap: 10px;
        font-size: 20px;

        margin-bottom: 18px;

        @media (max-width: 450px) {
          font-size: 18px;
          margin-bottom: 12px;
          line-height: 20px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          display: inline-block;
          content: url("../images/icons/popup-li.svg");
          height: 21.5px;
        }
      }
    }
  }

  &__right {
    position: relative;
    width: 430px;
    background-color: rgb(241, 241, 241);

    @media (max-width: 500px) {
      width: 100%;
    }
  }
}
.right {

  &__header {
    background-color: rgb(36, 132, 251);
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    padding: 19px;
  }

  &__promo {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 90, 120);
    margin: 10px;
    margin-top: 30px;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .price {  
      background-color: rgb(255, 90, 120);
      border-radius: 80px;
      padding: 7px 14px;

      font-size: 22px;
      font-weight: 700;
    }

    .price-old {
      color: rgb(148, 148, 148);
      font-size: 20px;
      font-weight: 300;
      text-decoration: line-through;
    }
  }
}
.email {

  // &__input {
  //   display: flex;
  //   flex-direction: row-reverse;
  //   height: 50px;
  //   padding: 15px 20px;

  //   @media (max-width: 550px) {
  //     padding: 15px;   
  //   }

  //   @media (max-width: 374px) {
  //     height: 40px;
  //   }

  //   input {
  //     height: 100%;
  //     border: 1px solid rgb(36, 132, 251);
  //     flex-grow: 1;
  //     padding: 10px;
  //     box-sizing: border-box;
  //     font-size: 18px;
  //     font-weight: 400;
      
  //     transition: all 0.3s;

  //     @media (max-width: 768px) {
  //       width: 100%;
  //     }

  //     @media (max-width: 450px) {
  //       padding-right: 5px;
  //     }

  //     @media (max-width: 374px) {
  //       font-size: 16px;
  //       padding-left: 5px;
  //     }

  //     &::placeholder {
  //       color: rgb(148, 148, 148);
  //       font-size: 18px;
  //       font-weight: 400;

  //       @media (max-width: 374px) {
  //         font-size: 16px;
  //       }
  //     }

  //     &:focus, &:hover {
  //       outline: none;
  //       border: 1px solid rgb(76, 72, 255);

  //       & + label {
  //         background-color: rgb(76, 72, 255);
  //       }
  //     }
  //   }

  //   label {
  //     background-color: rgb(36, 132, 251);
  //     font-weight: 600;
  //     font-size: 18px;
  //     padding: 14.5px 30px;
  //     color: white;
  //     box-sizing: border-box;
  //     min-width: 116px;

  //     transition: all 0.3s;

  //     @media (max-width: 374px) {
  //       padding: 12px 14.5px;
  //       min-width: 80px;
  //       font-size: 16px;
  //     }
  //   }
  // }

  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    text-transform: uppercase;
    background-color: rgb(36, 132, 251);
    font-weight: 600;
    font-size: 18px;
    color: white;
    padding: 16.5px;

    margin: 20px;
    margin-top: 30px;

    transition: background-color 0.4s;

    @media (max-width: 550px) {
      margin-left: 15px;   
      margin-right: 15px;   
    }

    @media (max-width: 374px) {
      font-size: 16px;
      padding: 15px;
    }

    &:hover {
      background-color: rgb(76, 72, 255);
    }
  }
}

// Попап ошибки

.popup-error {

  &__body {
  }

  &__content {
    padding: 20px 60px;

    @media (max-width: 410px) {
      padding: 14px;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 24px;
    height: 24px;

    cursor: pointer;

    &::before, &::after {
      position: absolute;
      top: 10px;
      left: -2px;

      display: block;
      content: "";
      height: 2px;
      width: 30px;
      background-color: #b8b8b8;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &__message {
    color: rgb(76, 72, 255);
    font-size: 24px;
    font-weight: 600;
    padding: 40px 0;
    padding-bottom: 30px;
    text-align: center;
  }
}