* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 18px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1420px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}

main {
  flex: 1;
}

.burger {
  display: none;
  position: absolute;
  width: 32px;
  height: 20px;
  top: 22px;
  right: 12px;
  z-index: 10;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
}
.burger span, .burger::before, .burger::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
}
.burger span {
  position: absolute;
  top: 9.3333333333px;
  transition: all 0.3s;
}
.burger::before, .burger::after {
  transition: all 0.5s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}

.burger_close {
  z-index: 10;
}
.burger_close span {
  /* transform: rotate(45deg); */
  width: 0;
  background-color: white;
}
.burger_close::before {
  top: 8px;
  transform: rotate(45deg);
}
.burger_close::after {
  top: 8px;
  transform: rotate(-45deg);
}

.header {
  background-color: rgb(76, 72, 255);
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: white;
  font-weight: 900;
  font-size: 20px;
  transition: color 0.5s;
  position: relative;
  z-index: 20;
}
.header__logo:hover {
  color: rgb(201, 200, 255);
}
.header__lk {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 20;
}
@media (max-width: 768px) {
  .header__lk {
    margin-right: 45px;
  }
}
.header__lk:hover span {
  color: rgb(201, 200, 255);
}
.header__lk:hover svg path {
  fill: rgb(201, 200, 255);
}
.header__lk svg path {
  transition: fill 0.5s;
}
.header__lk span {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  transition: color 0.5s;
}
@media (max-width: 950px) {
  .header__lk span {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.3s;
    background-color: rgb(76, 72, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu.phone-open {
    height: 100%;
  }
}
.menu__list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
@media (max-width: 768px) {
  .menu__list {
    padding-top: 90px;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
.menu__item {
  position: relative;
}
@media (max-width: 768px) {
  .menu__item {
    min-height: 40px;
  }
}
.menu__item:hover > a {
  color: rgb(201, 200, 255);
}
@media (max-width: 768px) {
  .menu__item:hover > a {
    color: white;
  }
}
.menu__item:hover .sub-menu {
  visibility: visible;
  max-height: 300px;
}
.menu__item::before {
  position: absolute;
  bottom: -8px;
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: rgb(201, 200, 255);
  transition: 0.3s;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .menu__item::before {
    display: none;
  }
}
.menu__item:hover::before {
  width: 100%;
}
.menu__item:hover .menu__arrow path {
  stroke: rgb(201, 200, 255);
}
@media (max-width: 768px) {
  .menu__item:hover .menu__arrow path {
    stroke: white;
  }
}
.menu__link {
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
  transition: all 0.4s;
}
@media (max-width: 768px) {
  .menu__link {
    justify-content: center;
  }
}
.menu__arrow {
  display: block;
  margin-left: 10px;
}
.menu__arrow path {
  transition: stroke 0.4s;
}

.menu-bottom-phone {
  display: none;
}
@media (max-width: 768px) {
  .menu-bottom-phone {
    display: block;
  }
}
.menu-bottom-phone__header {
  text-align: center;
  margin-bottom: 15px;
}
.menu-bottom-phone__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  gap: 10px;
}
.menu-bottom-phone__item:last-child {
  margin-bottom: 30px;
}
.menu-bottom-phone__item img {
  width: 20px;
}
.menu-bottom-phone__item a {
  color: white;
}

.sub-menu {
  position: absolute;
  top: 24px;
  border-radius: 2px;
  overflow: hidden;
  width: 292px;
  transition: all 0.5s;
  max-height: 0;
  z-index: 5;
}
@media (max-width: 768px) {
  .sub-menu {
    position: static;
    margin: 15px 0;
    width: unset;
  }
}
.sub-menu__item {
  border-bottom: 1px solid rgb(201, 200, 255);
}
.sub-menu__item:last-child {
  border-bottom: none;
}
.sub-menu__item a {
  display: block;
  background-color: white;
  padding: 10px 20px;
  color: black;
  transition: background-color 0.4s;
}
.sub-menu__item a:hover {
  background-color: rgb(201, 200, 255);
}
@media (max-width: 768px) {
  .sub-menu__item {
    text-align: center;
    border-bottom: 0;
  }
  .sub-menu__item a {
    background-color: transparent;
    color: rgb(148, 145, 255);
    text-transform: uppercase;
  }
}

/* ******************************* */
.footer {
  background-color: #3B3B3B;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__logo {
  color: white;
  font-size: 20px;
  font-weight: 900;
  transition: color 0.4s;
}
.footer__logo:hover {
  color: rgb(36, 132, 251);
}
@media (max-width: 640px) {
  .footer__logo {
    margin-bottom: 15px;
  }
}
@media (max-width: 640px) {
  .footer__contacts {
    margin-bottom: 15px;
  }
}
.footer__links {
  list-style-type: none;
}
.footer__links li {
  margin-bottom: 10px;
  text-align: right;
}
@media (max-width: 640px) {
  .footer__links li {
    text-align: center;
  }
}
.footer__links li:last-child {
  margin-bottom: 0;
}
.footer__links li a {
  color: white;
  font-size: 16px;
  transition: color 0.4s;
}
.footer__links li a:hover {
  color: rgb(36, 132, 251);
}

.footer-c__header {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}
.footer-c__list {
  list-style-type: none;
}
.footer-c__item {
  margin-bottom: 10px;
}
.footer-c__item:last-child {
  margin-bottom: 0;
}
.footer-c__item img {
  width: 20px;
  margin-right: 10px;
}
.footer-c__item a {
  color: white;
  font-size: 16px;
  transition: color 0.4s;
}
.footer-c__item a:hover {
  color: rgb(36, 132, 251);
}/*# sourceMappingURL=style.css.map */